<!-- Loop over each user object -->
{{#each objs as |obj| }}
<div class="container">
  <h2 class="text-center"> {{obj.name}}</h2>
  <div class="row text-center">
    <div class="col-md-6">
      <img src={{obj.image}} alt="image of drink" width="200" class="id">
    </div>
    <div>
      {{#each obj.ing as |ing|}}
      <p id="change">{{ing}}</p>
      {{/each}}
      <br><br>
      <p id="change">{{obj.steps}}</p>
    </div>
  </div>
</div>

</div>
<div class="row d-flex align-center mb-5">
  <div class="drink-new">
    <button class="btn btn-lg btn-danger p-3 mt-3">New Drink</button>
  </div>
  <div class="drink-save m-2">
    <button class="btn btn-lg btn-danger p-3 mt-3" data-name="{{obj.name}}" data-steps="{{obj.steps}}"
      data-ing="{{obj.ing}}" data-image="{{obj.image}}">Save Drink</button>

  </div>
</div>
{{/each}}

<script src="./js/drink.js"></script>