<!-- Loop over each user object -->
{{#each objs as |obj| }}
<div class="container">
  <h2 class="text-center"> {{obj.name}}</h2>
  <div id="fix-image" class="row text-center">
    <div id="fix-image" class="col-md-6">
      <img src={{obj.image}} alt="image of drink" width="200" class="id">
    </div>
    <div>
    <br><h3>Ingredients:</h3>
      {{#each obj.ing as |ing|}}
      <p id="change">{{ing}}</p>
      {{/each}}
      <br><br>
      <h3>Steps:</h3>
      <p id="change">{{obj.steps}}</p>
    </div>
    <br></br>
    <div class="row d-flex align-center mb-5">
      <div class="drink-new text-center">
        <button id="center-button" class="btn btn-lg btn-danger">New Drink</button>
      </div>
      <div class="drink-save m-2 text-center">
        <button id="center-button" class="btn btn-lg btn-danger" data-name="{{obj.name}}" data-steps="{{obj.steps}}"
          data-ing="{{obj.ing}}" data-image="{{obj.image}}">Save Drink</button>

      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/drink.js"></script>