<div class="text-center">
  <h2>{{name}}</h2>
  <img src={{image}} alt="image of drink">
  <h3>Ingredients:</h3>
  {{#each ingArray as |ingredient|}}
  <br><br><p>{{ingredient}}</p>
  {{/each}}
  <br><br><h3>Steps:</h3>
  <p>{{steps}}</p>


  <p class="deleteBTN">
    <button class="btn btn-primary btn-danger" data-id="{{id}}">DELETE</button>
  </p>


</div>

<script src="../js/saveddrinks.js"></script>